<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My_First_Servlet_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>com.org.tariq.controller.InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertDataPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>com.org.tariq.controller.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayDataPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRecord</display-name>
    <servlet-name>EditRecord</servlet-name>
    <servlet-class>com.org.tariq.controller.EditRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRecord</servlet-name>
    <url-pattern>/EditRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.org.tariq.controller.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateDataPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecord</display-name>
    <servlet-name>DeleteRecord</servlet-name>
    <servlet-class>com.org.tariq.controller.DeleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecord</servlet-name>
    <url-pattern>/DeleteRecordPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.org.tariq.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateLogin</display-name>
    <servlet-name>ValidateLogin</servlet-name>
    <servlet-class>com.org.tariq.controller.ValidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin</servlet-name>
    <url-pattern>/ValidateLoginPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateLogin1</display-name>
    <servlet-name>ValidateLogin1</servlet-name>
    <servlet-class>com.org.tariq.controller.ValidateLogin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLogin1</servlet-name>
    <url-pattern>/ValidateLogin1Path</url-pattern>
  </servlet-mapping>
</web-app>